.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.paragraphSection {
}

.timerSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.timerSection div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.valuesSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.valuesSection p {
  margin-bottom: 1rem;
}

.valuesSection code {
  display: block;
}

.main button {
  padding: 0.5rem 1rem;
}

.main a {
  color: mediumpurple;
}

.main a:hover {
  text-decoration: underline;
}
